@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@font-face {
    font-family: Akira;
    src: url(components/akira_expanded/font.otf);
}
*{
    font-family: 'DM Sans', sans-serif;
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
}
/* variables  */
:root{
    --main-color: #E63946;
    --text-color: #020307;
    --bg-color: #fff;
}

body{
    background: linear-gradient(90deg, #e2e2e2, #c9d6ff);
    color: var(b--text-color);
}

/* Pop Up Trailer */

.popup-video {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    background: rgba(0,0,0,0.8);
    height: 100%;
    width: 100%;
    display: none;
}

.popup-video .video{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 750px;
    height: 450px;
    border-radius: 5px;
    border: 3px solid #fff;
    object-fit: cover;
}

.popup-video span{
    position: absolute;
    top: 5px;
    right: 20px;
    font-size: 50px;
    color: #fff;
    font-weight: bolder;
    z-index: 10000;
    cursor: pointer;

}

/* Header CSS */
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 100px;
    transition: 0.5s;
    /* background: var(--main-color); */
}
header.shadow{
    background: var(--bg-color);
    box-shadow: 0 0 4px rgb(14 55 54/15%);
}
header.shadow .navbar a{
    color: var(--text-color);
}
header.shadow .logo{
    color: var(--text-color);
}

.mobile-header{
    display: none;
}

.logo{
    font-size: 1.1rem;
    font-weight: 500;
    align-items: center;
    color: var(--bg-color);
    display: flex;
    column-gap: 0.5rem;
}
.logo p{
    font-family: 'Akira', sans-serif;
    font-size: 15px;
}
.bx{
    color: var(--main-color);
}
.navbar{
    display: flex;
    column-gap: 5rem;
}
.navbar li{
    position: relative;
}
.navbar a{
    font-size: 1rem;
    font-weight: 500;
    color: var(--bg-color);
}
.navbar a::after{
    content: '';
    width: 0;
    height: 2px;
    background: var(--main-color);
    position: absolute;
    bottom: -4px;
    left: 0;
    transition: 0.4s all linear;
}
.navbar a:hover::after,
.navbar .home-active::after{
    width: 100%;
}
#menu-icon{
    font-size: 24px;
    cursor: pointer;
    z-index: 1000001;
    display: none;
}
.btn-and-toggle{
    display: flex;
    align-items: center;
}

.btn-and-toggle .mode-toggle{
    margin-right: 30px;
}

.btn-and-toggle .mode-toggle i{ 
    padding: 5px;
    border-radius: 50%;
    background-color: #fff;
    border: 2px solid rgb(2, 3, 7,0.5);
}

.btn{
    padding: 0.7rem 1.4rem;
    background: var(--main-color);
    color: var(--bg-color);
    font-weight: 400;
    border-radius: 0.5rem;
}
.btn:hover{
    background: #fa1216;
}

/* Home  */
section{
    padding: 4.5rem 0 1.5rem;
}
.container{
    width: 100%;
    min-height: 640px;
    position: relative;
    display: flex;
    align-items: center;
    background: rgb(2, 3, 7,0.5);
    z-index: 1;
}
.container img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -1;
    filter: brightness(50%);
}

.swiper-pagination-bullet{
    width: 6px !important;
    height: 6px !important;
    border-radius: 0.2rem !important;
    background: var(--bg-color) !important;
    opacity: 1 !important;
}
.swiper-pagination-bullet-active{
    width: 1.5rem !important;
    background: var(--main-color) !important;
}
.home-text{
    z-index: 1000;
    padding: 0 150px;
}
.home-text span{
    color: var(--bg-color);
    font-weight: 500;
    text-transform: uppercase;
    font-size:12px;
    border-radius: 3px;
    padding: 1px 3px;
}
.home-text h1{
    color: var(--bg-color);
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.play{
    position: absolute;
    right: 4rem;
    bottom: 10%;
}
.play .bx{
    background: var(--bg-color);
    padding: 10px;
    font-size: 2rem;
    border-radius: 50%;
    border: 2px solid rgb(2, 3, 7,0.5);
    color: var(--main-color);
}
.play .bx:hover{
    background: var(--main-color);
    color: var(--bg-color);
    transition: 0.2s all linear;
}
/* movies  */
.heading{
    max-width: 968px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    padding-bottom: 15px;
    font-size: 1.2rem;
    font-weight: 900;
    text-transform: uppercase;
    border-bottom: 5px solid var(--main-color);
}

.movies-container{
    max-width: 968px;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px,auto));
    gap: 1rem;
    margin-top: 2rem;
}
.box .box-img{
    width: 100%;
    height: 270px;
    cursor: pointer;
}
.box .box-img img{
    width: 100%;
    height: 100%;
    filter: brightness(80%);
    object-fit: cover;
    border-radius: 15px;
}

.box .box-img img:hover{
    transform: translateY(-10px);
    transition: 0.2s all linear;
    filter: brightness(100%);
}
.box h3{
    font-size: 1rem;
    font-weight: 500;
    margin-top: 4px;
    text-align: center;
}


/* coming container  */
.coming-container{
    display: grid;
    gap: 1rem;
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
}
.coming-container .box img:hover{
    transform: translateY(0);
}

.coming-container .box{
    width: 100px;
}
.coming-container .box img{
    border-radius: 15px;
}

/* footer  */
.footer{
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
}

.footer .logo{
    color: black;
}
.social{
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    margin-left: 10px;
}
.social .bx{
    background: var(--bg-color);
    padding: 4px;
    font-size: 2rem;
    border-radius: 50%;
    border: 2px solid grey;
    color: var(--main-color);
}
.social .bx:hover{
    background: var(--main-color);
    color: var(--bg-color);
    transition: 0.2s all linear;
}

.copyright{
    padding: 20px;
    text-align: center;
    background-color: #fff;
}

/* responsive  */
@media (max-width: 1080px){
    .home-text{
        padding: 0 100px;
    }

    .movies{
        padding: 0 1rem;
    }
}
@media (max-width: 991px){
    header{
        padding: 18px 4%;
    }
    section{
        padding: 50px 4%;
    }
    .home-text{
        padding: 0 4%;
    }
    .home-text h1{
        font-size: 3rem;
    }
}
@media (max-width: 850px){
    header{
        padding: 12px 4%;
    }
    header .navbar{
        display: none;
    }

    .popup-video .video{
        width: 70%;
        height: 315px;
    }

    .mobile-header{
        position: fixed;
        width: 100%;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 25px 100px;
        z-index: 1000;
        background-color: #fff;
        box-shadow: 0 0 4px rgb(14 55 54/15%);
    }

    .mobile-header li{
        text-align: center;
    }

    .mobile-header i{
        font-size: 25px;
    }

    .mobile-header span{
        font-size: 10px;
        text-transform: uppercase;
    }

    .navbar a, .navbar a i{
        color: var(--text-color);
    }
    .navbar a:hover, .navbar a:hover i{
        color: var(--main-color);
    }
    .navbar a::after{
        display: none;
    }
    .navbar.active{
        top: 100%;
    }
    .home-text h1{
        font-size: 2.4rem;
    }
    .btn{
        padding: 0.6rem 1.2rem;
    }
    .movies-container{
        grid-template-columns: repeat(auto-fit, minmax(160px,auto));
    }
    .copyright{
        padding-bottom: 150px;
    }
}
@media (max-width: 600px){
    .mobile-header{
        padding: 25px 3%;
    }

}
@media (max-width: 472px){
    .container{
        width: 100%;
        min-height: 500px;
    }
    header{
        padding: 12px 4%;
    }

    .mobile-header{
        padding: 25px 6%;
    }
    .home-text h1{
        font-size: 1.7rem;
    }
    .play{
        right: 2rem;
        bottom: 8%;
    }
    .play .bx{
        padding: 7px;
    }
    .movies-container{
        grid-template-columns: repeat(auto-fit, minmax(140px, auto));
    }
    .box .box-img{
        height: 240px;
    }
}

@media (max-width: 465px){
    .mobile-header{
        padding: 25px 3%;
    }

    .mobile-header span{
        display: none;
    }
}

@media (max-width: 400px){
    .mobile-header i{
        margin: -15px;
    }

}

@media (max-width: 330px){
    .mobile-header{
        padding: 25px 10px;
    }
    .mobile-header i{
        font-size: 16px;
    }

}