@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@font-face {
    font-family: Akira;
    src: url(./akira_expanded/Akira\ Expanded\ Demo.otf);
}

*{
    font-family: 'DM Sans', sans-serif;
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
}

:root{
    --main-color: #E63946;
    --text-color: #020307;
    --bg-color: #fff;
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 100px;
    transition: 0.5s;
    /* background: var(--main-color); */
}
header.shadow{
    background: var(--bg-color);
    box-shadow: 0 0 4px rgb(14 55 54/15%);
}
header.shadow .navbar a{
    color: var(--text-color);
}
header.shadow .logo{
    color: var(--text-color);
}

.mobile-header{
    display: none;
}

.logo{
    font-size: 1.1rem;
    font-weight: 500;
    align-items: center;
    color: var(--bg-color);
    display: flex;
    column-gap: 0.5rem;
}
.logo p{
    font-family: 'Akira', sans-serif;
    font-size: 15px;
}
.bx{
    color: var(--main-color);
}
.navbar{
    display: flex;
    column-gap: 5rem;
}
.navbar li{
    position: relative;
}
.navbar a{
    font-size: 1rem;
    font-weight: 500;
    color: var(--bg-color);
}
.navbar a::after{
    content: '';
    width: 0;
    height: 2px;
    background: var(--main-color);
    position: absolute;
    bottom: -4px;
    left: 0;
    transition: 0.4s all linear;
}
.navbar a:hover::after,
.navbar .home-active::after{
    width: 100%;
}
#menu-icon{
    font-size: 24px;
    cursor: pointer;
    z-index: 1000001;
    display: none;
}
.btn-and-toggle{
    display: flex;
    align-items: center;
}

.btn-and-toggle .mode-toggle{
    margin-right: 30px;
}

.btn-and-toggle .mode-toggle i{ 
    padding: 5px;
    border-radius: 50%;
    background-color: #fff;
    border: 2px solid rgb(2, 3, 7,0.5);
}

.btn{
    padding: 0.7rem 1.4rem;
    background: var(--main-color);
    color: var(--bg-color);
    font-weight: 400;
    border-radius: 0.5rem;
}
.btn:hover{
    background: #fa1216;
}

@media (max-width: 991px){
    header{
        padding: 18px 4%;
    }
    section{
        padding: 50px 4%;
    }
    .home-text{
        padding: 0 4%;
    }
    .home-text h1{
        font-size: 3rem;
    }
}
@media (max-width: 850px){
    header{
        padding: 12px 4%;
    }
    header .navbar{
        display: none;
    }

    .popup-video .video{
        width: 70%;
        height: 315px;
    }

    .mobile-header{
        position: fixed;
        width: 100%;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 25px 100px;
        z-index: 1000;
        background-color: #fff;
        box-shadow: 0 0 4px rgb(14 55 54/15%);
    }

    .mobile-header li{
        text-align: center;
    }

    .mobile-header i{
        font-size: 25px;
    }

    .mobile-header span{
        font-size: 10px;
        text-transform: uppercase;
    }

    .navbar a, .navbar a i{
        color: var(--text-color);
    }
    .navbar a:hover, .navbar a:hover i{
        color: var(--main-color);
    }
    .navbar a::after{
        display: none;
    }
    .navbar.active{
        top: 100%;
    }
    .home-text h1{
        font-size: 2.4rem;
    }
    .btn{
        padding: 0.6rem 1.2rem;
    }
    .movies-container{
        grid-template-columns: repeat(auto-fit, minmax(160px,auto));
    }
    .copyright{
        padding-bottom: 150px;
    }
}

@media (max-width: 600px){
    .mobile-header{
        padding: 25px 3%;
    }
}

@media (max-width: 465px){
    .mobile-header{
        padding: 25px 3%;
    }

    .mobile-header span{
        display: none;
    }
}

@media (max-width: 400px){
    .mobile-header i{
        margin: -15px;
    }
}

@media (max-width: 330px){
    .mobile-header{
        padding: 25px 10px;
    }
    .mobile-header i{
        font-size: 16px;
    }
}
